@use "variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-color: $very-dark-blue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
