@use "variables" as *;

@media (max-width: 1060px) {
  .card-container {
    grid-template-columns: minmax(auto, 600px);
    padding: 0;
    margin: 5.5rem 1.5rem;

    // Content Section.
    .content-section {
      border-radius: 0 0 $radius $radius;
      order: 2;
      padding: 2.5rem 2rem;
      gap: 1rem;
      text-align: center;

      .title {
        font-size: 1.7rem;
      }

      .stats-box {
        margin-top: 1.6rem;
        flex-direction: column;
        align-items: center;
        gap: 1.9rem;
      }
    }

    // Image Section.
    .img-section {
      border-radius: $radius $radius 0 0;

      .img-desktop {
        display: none;
      }

      .img-mobile {
        display: block;
      }
    }
  }
}
